.desc {
    color: black;
}
.desc__bold {
    font-weight: bold;
}
.flight_container {
    margin-top: 30px;
}
.complete_order_title {
    text-align: center;
    margin-top: 50px;
}
.total_container {
    background-color: #adadaf;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.price_desc {
    margin-top: 30px;
    color: black;
}
.copy_container {
    display: flex !important;
    background-color: #f1f1f1;
    color: #1a759f;
    font-weight: bold;
    margin-top: 0px !important;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
}
.payment_type {
    margin-top: 20px;
    display: flex;
}

.payment_item {
    display: flex;
    width: 33.33%;
    justify-content: center;
}
.payment_item > label {
    cursor: pointer;
}
.price {
    margin-top: 20px;
    border: 2px solid #adadaf;
    border-radius: 4px;
    text-align: center;
    color: black;
    padding: 20px;
    font-weight: bold;
}
.payment_button {
    margin-top: 20px;
}
.payment_button_item {
    padding: 10px;
    width: 100%;
}
.payment_title {
    text-align: center;
    margin-top: 50px;
}
.copy_container {
    display: flex !important;
    background-color: #f1f1f1;
    color: #1a759f;
    font-weight: bold;
    margin-top: 20px !important;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
}
.exchange_table {
    margin-top: 40px;
}
.next_step {
    width: 100%;
    margin-top: 20px;
}
